.logo {
    font-size: 20px;
    cursor: pointer;
  }
  
  .MainOn{
    content: '';
    position: relative;
    left: 0px;
    top: 0;
    width: 100%;
    margin-left: 200px;
  }

  .MainOFF{
    content: '';
    position: relative;
    left: 0px;
    top: 0;
    width: 100%;
    /* margin-left: 60px; */
    /* transition: 0.1s; */
  }


  .Header{
    /* padding: 0; */
    content: '';
    /* position: absolute; */
    position: fixed;
    width: 100%;
    z-index: 10;
    display:flex;
    align-items:center;
    justify-content: space-around ;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
  }

  .sitelayoutbackground{
    content: '';
    position: absolute;
    left: 0;
    min-width: 100%;
    top:0px;
    padding: 60px 0 0 0;
    /* overflow: initial; */
  }

  .Hamburger{
    display: none;
  }
  @media only screen and ( max-width: 750px)
  {
    .inputbar{
      /* display: none; */
     width: 200px;
    }
    .Header{
      padding: 0 20px;
      box-sizing: border-box;
      justify-content: space-between;
      border-bottom:5px solid #1890ff;
    }
    .AccountButtons{
      display: none;
    }
    .Hamburger{
      display: contents;
    }
  }
