.Navbar{
    padding: 0px 100px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.Link{
    list-style: none;
    text-decoration: none;
    color: white;
}


